<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioPin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AudioPin.AudioPin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AudioPin.Properties.Settings>
            <setting name="PinnedOut" serializeAs="String">
                <value />
            </setting>
            <setting name="PinnedIn" serializeAs="String">
                <value />
            </setting>
            <setting name="PinnedOutComm" serializeAs="String">
                <value />
            </setting>
            <setting name="PinnedInComm" serializeAs="String">
                <value />
            </setting>
            <setting name="CommOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KnownDevices" serializeAs="String">
                <value />
            </setting>
        </AudioPin.Properties.Settings>
        <AudioPin.AudioPin>
            <setting name="SelectedInId" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedOutId" serializeAs="String">
                <value />
            </setting>
        </AudioPin.AudioPin>
    </userSettings>
</configuration>